Messenger.Web/wwwroot/lib/

bin/
obj/
.vscode/
*.user
*.suo
*.log
*.tmp
*.bak
*.db
*.DS_Store

node_modules/

publish/
*.Publish.xml

.vs/

**/appsettings*.json
!**/appsettings.Development.json

Messenger.Web/wwwroot/uploads