@{
    var currentPath = Context.Request.Path.Value.ToLower();
}

@if (!currentPath.Contains("/login") && !currentPath.Contains("/register")){
<aside class="bg-dark p-4" style="width: 320px; min-height: calc(100vh - 80px); flex-shrink: 0;">
    <nav class="nav flex-column gap-3">
        <a class="sidebar-item" href="/Chats">Chats</a>
        <a class="sidebar-item" href="/Profile">Profile</a>

        <form asp-controller="Account" asp-action="Logout" method="post" class="p-0 m-0">
            @Html.AntiForgeryToken()
            <button type="submit"
                    class="sidebar-item btn-link text-danger sidebar-button">
                Logout
            </button>
        </form>

    </nav>
</aside>
}